site_name: scoringrules
site_description: The documentation for the scoringrules python library.
repo_name: frazane/scoringrules
repo_url: https://github.com/frazane/scoringrules

nav:
  - Home: index.md
  - Reference:
    - Brier Score: api/brier.md
    - Continuous Ranked Probability Score:
      - api/crps/index.md
      - Ensemble-based estimation: api/crps/ensemble.md
      - Analytical formulations: api/crps/analytical.md
      - Weighted versions: api/crps/weighted.md
    - Logarithmic Score: api/logarithmic.md
    - Energy Score: 
      - api/energy/index.md
      - Ensemble-based estimation: api/energy/ensemble.md
      - Weighted versions: api/energy/weighted.md
    - Variogram Score: api/variogram.md
      - api/variogram/index.md
      - Ensemble-based estimation: api/variogram/ensemble.md
      - Weighted versions: api/variogram/weighted.md


theme:
  name: material

  features:
      - navigation.sections
      - toc.follow
      - header.autohide


  palette:
      - scheme: default
        primary: white
        accent: amber
        toggle:
            icon: material/weather-night
            name: Switch to dark mode
      - scheme: slate
        primary: custom
        accent: amber
        toggle:
            icon: material/weather-sunny
            name: Switch to light mode
  icon:
      repo: fontawesome/brands/github
      logo: "material/bullseye-arrow"


plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          selection:
            inherited_members: true
          rendering:
            show_root_heading: true
            show_root_full_path: true
            show_if_no_docstring: true
            show_signature_annotations: true
            show_source: false
            members_order: source
            heading_level: 4
          options:
            docstring_style: "numpy"
  - bibtex:
      bib_file: "docs/refs.bib"
  - section-index

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - footnotes

extra_css:
  - stylesheets/extra.css
  - https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.css

extra_javascript:
  - scripts/katex.js
  - https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.js
