site_name: Scoringrules
site_description: Documentation for scoringrules, a python library for probabilistic forecast evaluation.
repo_name: frazane/scoringrules
repo_url: https://github.com/frazane/scoringrules

nav:
  - Home: index.md
  - User guide: user_guide.md
  - Contributing: contributing.md
  - Theory: theory.md
  - API reference:
    - Categorical Outcomes: api/categorical.md
    - Continuous Univariate Outcomes:
      - Continuous Ranked Probability Score: api/crps.md
      - Logarithmic Score: api/logarithmic.md
      - Error Spread Score: api/error_spread.md
    - Continuous Multivariate Outcomes:
      - Energy Score: api/energy.md
      - Variogram Score: api/variogram.md
      - Gaussian Kernel Score: api/kernels.md
    - Functionals:
      - Interval Score: api/interval.md
      - Quantile Score: api/quantile.md
  - Visualization: api/visualization.md


theme:
  name: material
  font:
    text: "Roboto"

  features:
      - navigation.sections
      - toc.follow
      - header.autohide


  palette:
      - scheme: default
        primary: white
        accent: amber
        toggle:
            icon: material/weather-night
            name: Switch to dark mode
      - scheme: slate
        primary: white
        # accent: amber
        toggle:
            icon: material/weather-sunny
            name: Switch to light mode
  icon:
      repo: fontawesome/brands/github


  logo: "assets/images/logo.svg"


plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: "numpy"
            heading_level: 3
            show_source: false
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true
  - bibtex:
      bib_file: "docs/refs.bib"
  - section-index

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - footnotes

extra_css:
  - stylesheets/extra.css
  - https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.css

extra_javascript:
  - scripts/katex.js
  - https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.js
