:root {
  --md-primary-fg-color: #d84a4a;
  --md-primary-fg-color--light: #262680;
  --md-primary-fg-color--dark: #0f3c23;
}


div.doc-contents {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
}



/* Highlight functions, classes etc. type signatures. Really helps to make clear where
   one item ends and another begins. */

[data-md-color-scheme="default"] {
  --doc-heading-color: #DDD;
  --doc-heading-border-color: #CCC;
  --doc-heading-color-alt: #F0F0F0;
}

[data-md-color-scheme="slate"] {
  --doc-heading-color: rgb(25, 25, 33);
  --doc-heading-border-color: rgb(25, 25, 33);
  --doc-heading-color-alt: rgb(33, 33, 44);
  --md-code-bg-color: rgb(38, 38, 50);
}

h4.doc-heading {
  /* NOT var(--md-code-bg-color) as that's not visually distinct from other code blocks.*/
  background-color: var(--doc-heading-color);
  border: solid var(--doc-heading-border-color);
  border-width: 1.5pt;
  border-radius: 2pt;
  padding: 0pt 5pt 2pt 5pt;
}

h5.doc-heading,
h6.heading {
  background-color: var(--doc-heading-color-alt);
  border-radius: 2pt;
  padding: 0pt 5pt 2pt 5pt;
}


/* Maximum space for text block */
.md-grid {
  max-width: 85%; /* or 100%, if you want to stretch to full-width */
}
